<!DOCTYPE html>
<html lang="en-us">
        <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Marlena Johnson, Therapy, Therapist, 
              Counseler, Counseling, Newberg, Or, Oregon Living Tree Wellness Center, 
              LCSW, EMDR, Rapid Eye Movement desensitization, 
              motivatioanl, interviewing, Addiction, Collabrative assessment 
              and management of suicidality, cognative Behavioral Therapy, 
              theraputic, equine, self-discovery, growth, healing.">
        <link href="../styles/main.css" rel="stylesheet">
        <link href="../styles/medium.css" rel="stylesheet">
        <link href="../styles/large.css" rel="stylesheet">
        <link href="../images/horse1.ico" type="image/x-icon" rel="icon">
        <title>Liberty Reins</title>
    </head>
    <body>
                <header id="headerid" class="navigation">
            <img class="headerLeftImg" src="../images/horse3_small.jpg" height="200" width="300" alt="Golden Horse"/>
            <a id="headera" href="../home.html"><h1 id="headerh1">Liberty Reins</h1></a>
            <img class="headerRightImg" src="../images/horse3_small.jpg" height="200" width="300" alt="Golden Horse"/>
        </header>
                <nav>
            <ul id="mainmenu" class="navigation">
                <li><a href="../home.html">Home</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./map.html">Map</a></li>
                <li><a href="./gallery.html">Gallery</a></li>
            </ul>
        </nav>
        <main>
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="../images/horse2.jpg" width="500">
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="../images/horse3_small.jpg" width="500">
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="../images/two_horses_small.jpg" width="500">
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">1 / 4</div>
                    <img src="../images/iStock-981916212.jpg" width="500">
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <div class="dotdot">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </main>
        <footer>
                    <footer>
            <div id="footerid">
                <p>Presented by Robert Johnson &copy;</p>
                <button onclick="ChangeThemeColor()">Change Theme Color</button><br>
                <p id="printme"></p>
            </div>
        </footer>

        </footer>
        <script src="../scripts/imageslider.js"></script>
        <script src="../scripts/themecolor.js"></script>
    </body>
</html>