<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Marlena Johnson, Therapy, Therapist, 
              Counseler, Counseling, Newberg, Or, Oregon Living Tree Wellness Center, 
              LCSW, EMDR, Rapid Eye Movement desensitization, 
              motivatioanl, interviewing, Addiction, Collabrative assessment 
              and management of suicidality, cognative Behavioral Therapy, 
              theraputic, equine, self-discovery, growth, healing.">
        <link href="../styles/main.css" rel="stylesheet">
        <link href="../styles/medium.css" rel="stylesheet">
        <link href="../styles/large.css" rel="stylesheet">
        <link href="../images/horse1.ico" type="image/x-icon" rel="icon">
        <title>Liberty Reins</title>
    </head>
    <body>
        <header id="headerid" class="navigation">
            <img class="headerLeftImg" src="../images/horse3_small.jpg" height="200" width="300" alt="Golden Horse"/>
            <a id="headera" href="../home.html"><h1 id="headerh1">Liberty Reins</h1></a>
            <img class="headerRightImg" src="../images/horse3_small.jpg" height="200" width="300" alt="Golden Horse"/>
        </header>
        <nav>
            <ul id="mainmenu" class="navigation">
                <li><a href="../home.html">Home</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./map.html">Map</a></li>
                <li><a href="./gallery.html">Gallery</a></li>
            </ul>
        </nav>
        <main id="mapmain" class="mainbackgroundimage">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2801
                    .7452165573372!2d-122.79308228425911!3d45
                    .39431014612485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
                    .1!3m3!1m2!1s0x549572a631f11c51%3A0x90b6c86abdeb8afe!2s
                    .Cindys+House+of+Horses+LLC!5e0!3m2!1sen!2sus!4v1563305745590
                    .!5m2!1sen!2sus" width="600" height="450" frameborder="0"
                    style="border:0" allowfullscreen>
            </iframe>
        </main>
        <footer>
            <div id="footerid">
                <p>Presented by Robert Johnson &copy;</p>
                <button onclick="ChangeThemeColor()">Change Theme Color</button><br>
                <p id="printme"></p>
            </div>
        </footer>
        <script src="../scripts/themecolor.js"></script>
    </body>
</html>
