<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Marlena Johnson, Therapy, Therapist, 
              Counseler, Counseling, Newberg, Or, Oregon Living Tree Wellness Center, 
              LCSW, EMDR, Rapid Eye Movement desensitization, 
              motivatioanl, interviewing, Addiction, Collabrative assessment 
              and management of suicidality, cognative Behavioral Therapy, 
              theraputic, equine, self-discovery, growth, healing.">
        <link href="../styles/main.css" rel="stylesheet">
        <link href="../styles/medium.css" rel="stylesheet">
        <link href="../styles/large.css" rel="stylesheet">
        <link href="../images/horse1.ico" type="image/x-icon" rel="icon">
        <title>Liberty Reins</title>
    </head>
    <body>
        <header id="headerid" class="navigation">
            <img class="headerLeftImg" src="../images/horse3_small.jpg" height="200" width="300" alt="Golden Horse"/>
            <a id="headera" href="../index.html"><h1 id="headerh1">Liberty Reins</h1></a>
            <img class="headerRightImg" src="../images/horse3_small.jpg" height="200" width="300" alt="Golden Horse"/>
        </header>
        <nav>
            <ul id="mainmenu" class="navigation">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./map.html">Map</a></li>
                <li><a href="./gallery.html">Gallery</a></li>
            </ul>
        </nav>
        <main id="servicesmain">
            <div>
                <h1>Services</h1>
                <p>Liberty Reins, LLC offers a variety of equestrian-related
                    services. Our most common services are listed below. 
                    If you seek something that is not listed, please send us a 
                    message and ask. We like to think outside the box and create
                    experiences that are as unique and special as the clients 
                    themselves. </p>
            </div>
            <div class="servicesmiddlebox">
                <div>
                    <h2>Horseback Riding Lessons</h2>
                    <p>Horseback riding lessons are a great way to develop so 
                        much more than riding skills. Liberty Reins owner, 
                        Allison, is a former 15-year school teacher and brings 
                        her experience from the classroom into the arena. She 
                        has a lifetime of horse experience to share with all of
                        her students and is certified as an Equine Specialist 
                        through a global organization called EAGALA. 
                    </p>    
                    <p>We strive to have each student have an experience that is
                        very unique to him/her and their individual needs and 
                        goals. Careful thought is put into helping each rider 
                        progress in their riding skills but also in other areas
                        such as confidence, assertiveness, independence, and 
                        leadership. Most people that have spent time with horses
                        will testify to their ability to help us grown in ways
                        that were never part of the original goal.
                    </P>
                    <p>Lessons will include all aspects of riding from gathering
                        the horse to putting the horse away and all steps in
                        between. The ultimate goal is for the student to gain
                        independence in the skills necessary to safely handle
                        and ride any horse, not just the lesson horse they use.  
                    </p>
                    <img src="../images/horse_eye_medium.jpg" alt="woman and horse"/>
                </div>
                <div>
                    <h2>Equine-Assisted Psychotherapy (EAP)*</h2>
                    <h2>Equine-Assisted Learning (EAL)*</h2>
                    <p>Both equine-assisted psychotherapy (EAP) and 
                        equine-assisted learning incorporate horses 
                        experientially for emotional growth and learning. 
                        The main difference is that:
                    </p>
                    <p>Horses are so powerful in EAP because they are social 
                        animals and provide vast opportunities for metaphorical
                        learning. Horses are sensitive to non-verbal 
                        communication and respond to the  messages given to them
                        in the moment. Consequently, the horse's responses feel
                        very familiar to them, namely just like how 
                        relationships, fears, dreams, addictions, etc. 
                        play out in their lives.</p>
                    <p>The horses allow for the opportunity to work through how
                        to change aspects of their lives in an experiential, 
                        in-the-moment and emotionally safe method. 
                    </p>
                    <p>The horse's responses give the client and treatment team
                        information - information that brings awareness of 
                        current patterns and motivates change to new ones.
                        The lesson to be learned is that if they change
                        themselves, the horses (and others in their lives) 
                        respond differently.</p>
                    <p>Please contact us if you are interested in booking and
                        EAP session. There are may variables and details to 
                        work out and will need to be discussed.</p>
                    <p>*Allison Girmai is EAGALA certified as an Equine 
                        Specialist to conduct EAP and EAL sessions. All session
                        will be conducted with a certified mental health
                        professional present at all times.</p>
                </div>
            </div>
        </main>
        <footer>
            <div id="footerid">
                <p>Presented by Robert Johnson &copy;</p>
                <button onclick="ChangeThemeColor()">Change Theme Color</button><br>
                <p id="printme"></p>
            </div>
        </footer>
        <script src="../scripts/themecolor.js"></script>    
    </body>
</html>


